.sidebar {
  position: fixed;
  left: -317px;
  top: 0;
  width: 317px;
  height: 100%;
  color: #ffffff;
  transition: left 0.3s ease-in-out;
  z-index: 100;
  background-color: #ffffff;
  padding: 17px 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.open {
  left: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1D2126;
  opacity: 0.13;
  z-index: 100;
}

.nav {
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  font-size: 22px;
}

.nav a:hover {
  color: #58acff;
}

.nav a.active {
  color: #0059b2;
  text-decoration: underline;
}
.close {
  all: unset;
  cursor: pointer;
  align-self: flex-end;
}

.close img {
  width: 24px;
  height: 24px;
}

/* [aria-current="page"] {
  font-weight: bold;
  color: red;
} */
