.radio {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.radio::before {
  background-color: aliceblue;
}


.radio:checked::before {
  color: black
}

.label {
  display: flex;
  gap: 15px;
}

.options {
  font-size: 20px;
}
