.friendMessage {
  grid-row: 2;
  grid-column: 1;

  margin-bottom: 47px;

  max-width: 462px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.friendImageAndText {
  max-width: 414px;
  width: 100%;
  height: 60px;
  padding: 8px 27px;
  display: flex;
  align-self: flex-end;
  background-color: rgba(245, 247, 251, 1);



  
}

.friendImageAndText img {
  position: absolute;
  width: 48px;
  height: 48px;
  object-fit: cover;

  left: -5px;
  top: 12px;
}

.friendText {
  position: relative;
  color: rgba(0, 0, 0, 1);
}

.friendText:after {
  content: "";
  position: absolute;
  left: -39px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent; /* Розмір і напрямок трикутника */
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(245, 247, 251, 1); /* Колір і висота трикутника */
}

.friendName {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.friendMessageText {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.friendTime {
  align-self: self-start;
}
