.button {
  width: 132px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 5px;
}

.disabled {
  border: none;
}

.secondary {
  border: 1px solid rgba(0, 102, 204, 1);
  color: rgba(0, 102, 204, 1);
  background-color: rgba(0, 102, 204, 1);
}

.default {
  background-color: rgba(255, 255, 255, 1);
}

.red {
  border: none;
  background-color: rgba(204, 20, 57, 1);
}

.default:hover {
  width: 167px;
}

.red:hover {
  width: 167px;
}

.secondary:hover {
  width: 167px;
}


.default:active {
  background-color: black;
  width: 149px;
}

.secondary:active {
  background-color: black;
  width: 149px;
}

.red:active {
  background-color: black;
  width: 149px;
}

.button:disabled {
  background-color: rgba(0, 77, 153, 1);
  color: rgba(0, 46, 92, 1);
  opacity: 50%;
}
